<html>
    <body>
        <h1>Fibonacci Calculator</h1>
        <form>
            <label for="n">Let's get the nth Fibonacci Number</label>
            <input id="n" name="n" type="text" />
            <input type="submit">
        </form>
    </body>
</html>
